* {
  font-family: 'Red Hat Display', sans-serif;
}

body {
  background-color: rgb(36, 36, 36);
}

h1, h2, h3, h4, h5, h6, p, tr, td, a, label {
  color: rgb(190, 190, 190);
}

/* Navigation bar */
#navbar {
  margin: 0px;
  padding: 0px;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 12fr;
}

#cat-logo {
  margin-left: 15px;
}

#cat-logo:hover {
  opacity: 60%;
}

#kittens-nav {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

#kittens-nav:hover {
  opacity: 60%;
}

#k-title {
  color: white;
  padding: 0px;
  margin: 0px;
  padding-top: 9px;
}

/* Body background image */
body, html {
  height: 100%;
  margin: 0;
}

#bg {
  background-image: url("/images/cat.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Index page */
#table-container {
  text-align: center;
  background-color: black;
  border: 1px solid white;
  width: 20%;
  /* margin: 0 auto; */
}