* {
  font-family: 'Red Hat Display', sans-serif;
}

body {
  background-color: rgb(35, 72, 98);
}

h1, h2, h3, h4, h5, h6, p, tr, td, a, label {
  color: rgb(255, 255, 255);
}

/* Flash Notifications */
.notification {
  font-size: 30px;
  color: White;
  background-color: rgb(109, 207, 158);
  border: 1px solid rgb(12, 107, 20);
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  display: block;
}

/* Navigation bar */
#navbar {
  margin: 0px;
  padding: 0px;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 12fr;
}

#cat-logo {
  margin-left: 15px;
}

#cat-logo:hover {
  opacity: 60%;
}

#kittens-nav {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

#kittens-nav:hover {
  opacity: 60%;
}

#k-title {
  color: white;
  padding: 0px;
  margin: 0px;
  padding-top: 9px;
}

/* Body background image */
body, html {
  height: 100%;
  margin: 0;
}

#bg {
  background-image: url("/images/cat1.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Index page */
#title-kitten-index {
  text-align: center;
  font-size: 50px;
}

#container {
  text-align: center;
  background-color: rgb(22, 51, 75);
  border: 1px solid white;
  border-radius: 100px;
  width: fit-content;
  margin: 0 auto;
  padding: 50px;
  font-size: 20px;
}

#green {
  width: 100%;
}

#add-container {
  background-color: rgb(46, 151, 46);
  border-radius: 20px;
  border: 1px solid rgb(6, 99, 18);
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 0.4fr 1.2fr 1fr;
  grid-template-rows: 1fr;
}

#add-container:hover {
  background-color: rgb(50, 201, 50);
  width: 100%;
}

#new-kitten-btn {
  text-align: center;
  font-size: 30px;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

#new-link {
  text-decoration: none;
}

#plus {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

td, th {
  font-size: 27px;
}

th {
  padding-left: 10px;
}

.options {
  padding-left: 20px;
}