* {
  font-family: 'Red Hat Display', sans-serif;
}

body {
  background-color: rgb(36, 36, 36);
}

h1, h2, h3, h4, h5, h6, p, tr, td, a {
  color: rgb(190, 190, 190);
}

/* #cat-logo {
  border: 1px solid red;
} */